.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.h1 {
  font: 2em sans-serif;
  color: #000000;
  text-align: center;
  margin: 0;
}
